# In your static/admin/config.yml file

backend: 
    name: github
    repo: Farazqureshi999/Dediabetes

media_folder: static/image
public_folder: /image

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Featured Post", name: "featuredpost", widget: "boolean", default: false}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Tags", name: "tags", widget: "list"}
     - {label: "Type" name: "type" widget: "select" options: ["post", "recipe", "ebook"]}

collections:
  - name: "recipe"
    label: "Recipe"
    folder: "src/pages/recipe"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "recipe-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Total Time", name: "time", widget: "string"}
      - {label: "Servings", name: "servings", widget: "string"}
      - {label: "Calories", name: "calories", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Type" name: "type" widget: "select" options: ["post", "recipe", "ebook"]}